<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>
        {{ title | translate }}
      </span>
    </mat-panel-title>
    <!-- <mat-panel-description>
      {{ selected.name }}
    </mat-panel-description> -->
  </mat-expansion-panel-header>

  <section class="list-items" *ngIf="items$ | async as items">
    <ng-container *ngIf="entityType$ | async as entityType">
      <app-entity-row *ngFor="let item of items" [item]="item" [entityType]="entityType"></app-entity-row>
    </ng-container>
  </section>
</mat-expansion-panel>
