<section class="buttons">
  <button mat-raised-button color="primary" (click)="openResetDialog()">Clear All</button>

  <button mat-raised-button color="primary" (click)="openDiceRollerDialog()">Roll Dices</button>
</section>

<mat-accordion multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Suspect
      </mat-panel-title>
      <mat-panel-description>
        {{suspect.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="list-items">
      <p *ngFor="let suspect of suspects; let i = index">
        <mat-checkbox [(ngModel)]="suspects[i].checked" (change)="checkSuspect($event)">{{ suspect.name }}</mat-checkbox>
      </p>
    </section>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Weapon
      </mat-panel-title>
      <mat-panel-description>
        {{weapon.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="list-items">
      <p *ngFor="let weapon of weapons; let i = index">
        <mat-checkbox [(ngModel)]="weapons[i].checked" (change)="checkWeapon($event)">{{ weapon.name }}</mat-checkbox>
      </p>
    </section>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Room
      </mat-panel-title>
      <mat-panel-description>
        {{room.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="list-items">
      <p *ngFor="let room of rooms; let i = index">
        <mat-checkbox [(ngModel)]="rooms[i].checked" (change)="checkRoom($event)">{{ room.name }}</mat-checkbox>
      </p>
    </section>
  </mat-expansion-panel>
</mat-accordion>
