<section class="buttons">
  <button mat-raised-button color="primary" (click)="onOpenResetDialog()">
    <span translate>app.clear-all</span>
  </button>

  <button mat-raised-button color="primary" (click)="onOpenDiceRollerDialog()">
    <span translate>app.roll-dice</span>
  </button>
</section>

<mat-accordion multi>
  <app-pannel entityType="suspects" title="app.suspect"></app-pannel>
  <app-pannel entityType="weapons" title="app.weapon"></app-pannel>
  <app-pannel entityType="rooms" title="app.room"></app-pannel>
</mat-accordion>
